<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Max.Asistidores
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let jugador of JUGADORES">
      <ion-avatar slot="start">
        <img [src]="jugador.imagen" alt="{{ jugador.nombre }}">
      </ion-avatar>
      <ion-label>{{ jugador.nombre }}</ion-label>
      <ion-label>{{ jugador.asistencias }}</ion-label>
      <ion-checkbox [(ngModel)]="jugador.seleccionado" [color]="jugador.color"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

