<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>MAX.GOLEADORES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-list class="list">
  <ion-item *ngFor="let jugador of JUGADORES">
    <ion-avatar slot="start">
      <img [src]="jugador.imagen" alt="{{ jugador.nombre }}">
    </ion-avatar>
    <ion-label>{{ jugador.nombre }}</ion-label>
    <ion-label>{{ jugador.goles }}</ion-label>
    <ion-checkbox [(ngModel)]="jugador.seleccionado" (ionChange)="mostrarMensajeToast(jugador)"></ion-checkbox>
  </ion-item>
</ion-list>

</ion-content>
