.boton{
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;
    margin-top: 300px;
}
.boton2{
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
}